@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: white;
}

/* Заголовок */
.title {
  text-align: center;
  font-size: 48px;
  margin: 50px 0;
  font-weight: 800;
  letter-spacing: -1px;

  background: linear-gradient(90deg, #a78bfa, #22d3ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Карточка */
.card {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  background: rgba(15, 23, 42, 0.6);
  box-shadow: 0 0 60px rgba(139, 92, 246, 0.2);
}

/* Строка */
.row {
  display: grid;
  grid-template-columns: 80px minmax(260px, 1.5fr) 130px 2fr;
  column-gap: 28px;
  align-items: center;
  transition: 0.25s ease;
}

.row:hover {
  background: rgba(255,255,255,0.03);
  transform: scale(1.01);
}

/* Место */
.place {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.place-1 { background: gold; color: black; }
.place-2 { background: silver; color: black; }
.place-3 { background: #cd7f32; }

/* Игрок */
.player {
  display: flex;
  align-items: center;
  gap: 16px;

  max-width: 300px; /* ограничиваем */
  overflow: hidden;
}

.avatar {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;

  border-radius: 16px;
  object-fit: cover;

  box-shadow: 0 0 25px rgba(139,92,246,0.6),
              0 0 50px rgba(34,211,238,0.2);

  transition: 0.3s;
}

.avatar:hover {
  transform: scale(1.1);
}

.name {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

/* Уровень */
.lvl {
  background: rgba(139,92,246,0.2);
  padding: 10px 16px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
}

/* XP */
.xp {
  font-weight: 700;
  font-size: 16px;
  color: #cbd5f5;
}


.bar {
  width: 100%;
  height: 10px;
  background: rgba(255,255,255,0.1);
  border-radius: 999px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: linear-gradient(90deg, #a78bfa, #22d3ee);
  border-radius: 999px;
  transition: 0.5s ease;
}

.xp-text {
  font-size: 13px;
  color: #94a3b8;
  margin-top: 4px;
  text-align: center;
}

.level-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 110px;
  min-width: 110px;

  background: rgba(139, 92, 246, 0.15);
  border: 1px solid rgba(139, 92, 246, 0.3);

  padding: 8px 14px;
  border-radius: 12px;
  min-width: 90px;
}

.level-box span {
  font-size: 10px;
  color: #94a3b8;
  letter-spacing: 1px;
}

.level-box strong {
  font-size: 18px;
  color: #a78bfa;
}

.progress-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 260px;
  margin: 0 auto;
}